<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		

		<title>Login</title>
		
	</head>
	<body>

<!-- NAVBAR
	======================================================================================================================================= -->	   	
	    <div class="navbar-wrapper">
			<div class="container">
			
				<!-- static-top makes navbar not whole width of screen
					 fixed-top makes navbar the whole width of screen -->				 
				<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								
							</button>
							
							<!--BRAND-->
							<a class="navbar-brand" href="#">A1</a><!-- a tag is used for linking-->		
											
						</div><!--close navbar-header-->
						
						<div class="navbar-collapse collapse">
							<form class="navbar-form navbar-right" role="form">														
								<button type="button"><a href="/auth/instagram">Login with Instagram</a></button>

								<button type="button"><a href="/auth/facebook">Login with Facebook</a></button>
									
	
								
							</form>							
	
						</div><!--close navbar-collapse-->					
						
					</div><!--close container w/in navbar-->	
				</nav>
			</div><!--close container-->
		</div><!--close navbar-wrapper-->
		
		
		
	</body>
	

</html>


